.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links li {
    list-style: none;
    margin-left: 1rem;
  }
  
  .nav-links li:first-child {
    margin-left: 0;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .nav-links a:hover {
    background-color: #fff;
    color: #1db954;
  }
  
  .sign-out {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sign-out:hover {
    background-color: #fff;
    color: white;
  }
  